<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>AddingNewProduct</title>
</head>
<body>

<h1> Here you can add new products</h1>
<br/>
<form action="/addProduct">
    Product name:<input id="name" name="name">
    <br/>
    <div th:each="productUnit : ${T(com.purchasingcooperative.purchasingCooperative.product.ProductUnit).values()}">
    product unit:<input type="radio" name="productUnit" th:id="${{productUnit}}" th:value="${{productUnit}}" />
    <label th:for="${{productUnit}}" th:text="${{productUnit}}">Types</label>
    </div>
    <br/>
    <input type="submit" value="Add new product">
</form>

</body>
</html>