<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>AddingNewProduct</title>
</head>
<body>

<h1> Here you can add new products</h1>
<br/>
<form action="/addProduct">
    Product name:<input id="name" name="name">
    <br/>
    Product price<input id="price" name="price">
    <br/>

    <div th:each="productUnit : ${T(com.purchasingcooperative.purchasingCooperative.product.ProductUnit).values()}">
        product unit:<input type="radio" name="productUnit" th:id="${{productUnit}}" th:value="${{productUnit}}" />
        <label th:for="${{productUnit}}" th:text="${{productUnit}}">Types</label>
    </div>
    <br/>
    <div th:each="supplier : ${suppliers}">
        Product supplier:<input type="radio" name="supplierId" th:id="${supplier}" th:value="${supplier.id}"/>
        <label th:for="${supplier}" th:text="${supplier.name}">Supplier</label>
    </div>
    
    <br/>
    <input type="submit" value="Add new product">
</form>

<br/>
<form action="/">
    <input type="submit" value="Go to start page">
</form>

<br/>
<form action="/products">
    <input type="submit" value="Products list">
</form>

</body>
</html>