<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>AddingNEwCustomer</title>
</head>
<body>

<h1>Here you can add new customer</h1>
<br/>

<form action="/addCustomer">
    Customer email<input id="email" name="email">
    <br/>
    <input type="submit" value="Add">

</form>

<br/>
<form action="/">
    <input type="submit" value="Go to start page">
</form>

<br/>
<form action="/customers">
    <input type="submit" value="Go to customers list">
</form>

</body>
</html>