<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>AddingNewSupplier</title>
</head>
<body>

<h1> Here you can add new products</h1>
<br/>

<form action="/addSupplier">
    Supplier name:<input id="name" name="name">
    <br/>
    <input type="submit" value="Add new supplier">
</form>

<br/>
<form action="/">
    <input type="submit" value="go to start page">
</form>

<br/>
<form action="/suppliers">
    <input type="submit" value="go to supplier list">
</form>

</body>
</html>