<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Products</title>
</head>
<body>

<h1>Products</h1>

<table>
    <thead>
    <th>Name</th>
    <th>Unit</th>
    </thead>

    <tbody>
    <tr th:each="product : ${products}">

        <td><span th:text="${product.name}">name</span></td>
        <td><span th:text="${product.productUnit}">unit</span></td>

        <td>
            <form th:action="@{/editProduct/{id}(id=${product.id})}" th:object="${product}">
                <input type="hidden" field="${product}">
                <input type="submit" value="Edit">
            </form>
        </td>

        <td>
            <form th:action="@{/deleteProduct/{id}(id=${product.id})}" th:object="${product}">
                <input type="hidden" field="${product}">
                <input type="submit" value="Delete">
            </form>
        </td>

    </tr>
    </tbody>
</table>

<br/>
<form action="/">
    <input type="submit" value="go to start page">
</form>
<br/>
<form action="/addProduct">
    <input type="submit" value="add new product">
</form>



</body>
</html>