<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Products to buy</title>
</head>
<body>

<h1>Products to buy</h1>


<p>Welcome customer:</p> <p th:text="${customer.email}">customer email</p>

<table>
    <thead>
    <th>Name</th>
    <th>Price</th>
    <th>Unit</th>
    <th>Supplier</th>
    </thead>

    <tbody>
    <tr th:each="product : ${showProducts}">

        <td><span th:text="${product.name}">name</span></td>
        <td><span th:text="${product.price}">price</span></td>
        <td><span th:text="${product.productUnit}">unit</span></td>
        <td><span th:text="${product.supplier.name}">supplier</span></td>

        <td>
            <form th:action="@{/addToBasket/{id}(id=${product.id})}" th:object="${product}">
                <input type="hidden" th:value="${customer.id}" name="customerId"/>
<!--                <input type="hidden" field="${product}">-->
                <input type="submit" value="Add to basket // Buy // Order">
            </form>
        </td>

    </tr>
    </tbody>
</table>
<br/>
<form action="/showBasket">
    <input type="submit" value="Go to your basket">
</form>

<br/>
<form action="/">
    <input type="submit" value="Go to start page">
</form>




</body>
</html>