<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Purchasing Cooperation</title>
</head>
<body>

<h3>Purchasing Cooperation start page</h3>
<br/>
<form action="/customers">
    <input type="submit" value="Show Customers and login">
</form>
<br/>
<form action="/showProducts">
    <input type="submit" value="Show Products to buy">
</form>
<br/>
<form action="/products">
    <input type="submit" value="Products list">
</form>
<br/>
<form action="/suppliers">
    <input type="submit" value="Suppliers list">
</form>
<br/>
<form action="/addProduct">
    <input type="submit" value="Add new product">
</form>
<br/>
<form action="/addSupplier">
    <input type="submit" value="Add new supplier">
</form>
<br/>
<form action="/addCustomer">
    <input type="submit" value="Add new customer">
</form>


</body>
</html>