<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Suppliers</title>
</head>
<body>

<h1>Suppliers</h1>

<table>
    <thead>
    <th>Name</th>
    </thead>

    <tbody>
    <tr th:each="supplier : ${suppliers}">
        <td><span th:text="${supplier.name}">name</span></td>

        <td>
            <form th:action="@{/editSupplier/{id}(id=${supplier.id})}" th:object="${supplier}">
                <input type="hidden" field="${supplier}">
                <input type="submit" value="Edit">
            </form>
        </td>


        <td>
            <form th:action="@{/deleteSupplier/{id}(id=${supplier.id})}" th:object="${supplier}">
            <input type="hidden" field="${supplier}">
            <input type="submit" value="Delete">
            </form>
        </td>

    </tr>
    </tbody>
</table>

<p>HttpServletRequest getAttribute:</p> <p th:text="${slowik}">xxx</p>
<p>HttpServletRequest getAttribute:</p> <p th:text="${wrobel}">yyy</p>


<form action="/">
    <input type="submit" value="Go to start page">
</form>
<br/>
<form action="/addSupplier">
    <input type="submit" value="Add new supplier">
</form>

</body>
</html>